version: "3.9"

services:
  kai:
    build: .
    container_name: kai_chatbot-kai
    restart: always
    ports:
      - "6090:6090"
    env_file:
      - .env
    environment:
      - TZ=Asia/Kuala_Lumpur
    volumes:
      - ./data:/app/data
      - ./logs:/app/logs
      - ./media:/app/media
    networks:
      - kai_net

networks:
  kai_net:
    driver: bridge
